<!DOCTYPE html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ludo | Mobile Game</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script language="JavaScript">var baseUrl = "<%= baseUrl %>"</script>
    <script src="<%= baseUrl %>libs/jquery.min.js"></script>
    <script src="<%= baseUrl %>libs/js/modernizr-2.8.3.min.js"></script>
    
    <script src="<%= baseUrl %>libs/js/jquery.min.js"></script>
    
    <script src="<%= baseUrl %>libs/js/bootstrap.min.js"></script>
    
    <script src="<%= baseUrl %>libs/js/main.js"></script>

    <link rel="icon" href="assets/img/favicon.ico">
    
    <link rel="stylesheet" href="<%= baseUrl %>assets/css/bootstrap.min.css">
   
    <link rel="stylesheet" href="<%= baseUrl %>assets/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="<%= baseUrl %>assets/css/style.css">

  <style type="text/css">
      .modal-backdrop.show {
    display: none;
    opacity: 0;
}
  </style>

</head>
<body style="background-image: url(assets/img/ludo/background.png);
    background-repeat: no-repeat, repeat;
    background-size: cover;">
    
   
    
    <div class="body-wrapper space-pt--70 space-pb--120">

        <div class="products-area card-200 splace-top">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                                <div class="justify-content-center">
                                    <img src="assets/img/ludo/splashscreen.png" class="injectable" alt="" width="350px"> 
                                </div>
                            
                    </div>
                </div>
            </div>
        </div>
</div>
    </div>
   
    <script>
   
    
         setTimeout(function () {
           window.location.href = `/index`;
            window.clearTimeout(tID);      
        }, 2000);
    
     </script>  
</body>

</html>